@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Cadastro de Aluno</h1>
    <p class="display-5">Vestibulares 2023</p>
    <a type="button" class="btn btn-info" asp-action="Cadastrar" asp-controller="Aluno">Clique-aqui</a>

</div>