@model Aluno

<input asp-for="Id" />
<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Sobrenome"></label>
    <input asp-for="Sobrenome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Telefone"></label>
    <input asp-for="Telefone" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Curso"></label>
    <select asp-for="Curso" class="form-select"
            asp-items="@ViewBag.curso">
        <option>Selecione</option>
    </select>
</div>
<div class="mb-3">
    <label asp-for="Sexo"></label>
    <select asp-for="Sexo" class="form-select"
            asp-items="@Html.GetEnumSelectList<Sexo>()">
        <option>Feminino</option>
    </select>
</div>